body {
    background-image: url("https://media1.tenor.com/images/ab307ee863cf6f11705a220b88853674/tenor.gif");
}

p {
color: rgb(224, 40, 163);
text-align: left;

}

.fibButton {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.fibButton:hover {
	background-color:#ce0100;
}
.fibButton:active {
	position:relative;
	top:1px;
}

        